[Unit]
Description=Marantz-Homie Controller service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=marantz-homie-controller
WorkingDirectory=/opt/marantz-homie-controller
ExecStart=/opt/marantz-homie-controller/.env/bin/python3 /opt/marantz-homie-controller/marantz-controller.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
